.m-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center; 
    background-color: #EBEBEB;
    box-sizing: border-box;
    padding: 8px;
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.m-footer__navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #717171;
  }
  li {
    display:inline;
    display: flex;
  }
  
  li a {
    transition: all 0.2s;
    display: block;
    color:  #549AD8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: black;
  }