@import url(styles.css);
.m-header {
    display: flex;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    padding: 8px;
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
  
.m-header__logo {
      padding: 8px;
      font-weight: bold;
      color: var(--primary-color);
      font-size: 16px;
      left: 1;
      margin-right: auto;
      text-align: center;
}
.m-header__navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

li {
  float:right;
  display:inline;
  justify-content: flex-end;
}

li a {
  transition: all 0.2s;
  display: block;
  color:  #549AD8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #717171;
}
